@model ExamPrac1.Models.EmpViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
};

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    @using (Html.BeginForm("Edit", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.HiddenFor(model => model.EmployeeId)
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="JoinDate" class="control-label"></label>
                <input asp-for="JoinDate" class="form-control" />
                <span asp-validation-for="JoinDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>

        <div class="col-md-4">
            <div id="explist">
                @for (int i = 0; i < Model.Experiences.Count; i++)
                {
                    <div class="expitem" data-index="@i">
                        @Html.Partial("_ExperiencePartial", Model.Experiences[i])
                    </div>
                }
            </div>
            <button type="button" class="btn btn-success" id="addExpBtn">Add Experience</button>
        </div>
    }
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/jquery/jquery.min.js"></script>
    <script>


        $(document).ready(function () {
            var experienceIndex = $('#explist .expitem').length;

            $('#addExpBtn').on('click', function () {
                $.get('@Url.Action("AddExperiencePartial", "Employees")', { index: experienceIndex }, function (data) {
                    $('#explist').append(data);
                    experienceIndex++;
                });
            });

            $(document).on('click', '.expbtn', function () {
                $(this).closest('.expitem').remove();
                updateExperienceIndexes();
            });

            function updateExperienceIndexes() {
                $('#explist .expitem').each(function (index) {
                    $(this).attr('data-index', index);
                    $(this).find('input').each(function () {
                        var name = $(this).attr('name');
                        $(this).attr('name', name.replace(/\[\d+\]/, '[' + index + ']'));
                    });
                });
            }
        });

    </script>
}